.div-text-card {
  margin: auto;
  /* margin-top: 15px; */
  /* margin-left: 0px; */
  /*background-color: rgb(214, 166, 166);*/
  background-color: #72C2E9;
  width: 90%;
  border-radius: 10px;
  transition: all 0.4s;
}

.div-text-card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 12px 16px rgba(0, 0, 0, 0.2);
}

.div-text-cardBackground {
  margin: auto;
  /* margin-top: 15px; */
  /* margin-right: 30px; */
  /*background-color: rgb(214, 166, 166);*/
  background-color: #FC5D3D;
  width: 90%;
  border-radius: 10px;
  transition: all 0.4s;
}

.div-text-cardBackground:hover {
  transform: translateY(-5px);
  /* transform:translateX(-5px); */
  box-shadow: 2px 12px 16px rgba(0, 0, 0, 0.562);
}
.img-1{
  display: block;
  margin: auto;
  margin-top: 15px;
  justify-content: center;
  width: 70%;
  border-radius: 60%;
  transition:  all 0.4s;
}
.h1{
  margin: auto;
}
