<div class="div-text-card">
  <h2>Pomodoro</h2>
  <img class="img-1" src="./../../../../assets/_6194029-1.png" alt="" >
<hr>
<ul class="list-group">
  <li routerLink="home"
  class="list-group-item"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}">
    Estadisticas
  </li>
  <li routerLink="login"
  class="list-group-item"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}">
    Login
  </li>
  <li routerLink="table"
  class="list-group-item"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}">
    Mi Tablero
  </li>
  <li class="list-group-item">
    Mis datos
  </li>
</ul>

</div>

