<div class="container">
  <div class="row">
    <div id="task-container">
      <div class="task-header">
          <input type="checkbox" class="task-checkbox">
          <h1>Título de la Tarea</h1>
      </div>
      <div class="options-container">
          <div class="option high-priority">
              <p class="option-label">Prioridad: Alta</p>
          </div>
          <div class="option expiration">
              <p class="option-label">Vencimiento: 09:00 AM - 10:30 AM</p>
          </div>
          <div class="option duration">
              <p class="option-label">Duración: 1 hora</p>
          </div>
      </div>
      <p class="description">Descripción de la tarea: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button id="add-subtask">Agregar Subtarea</button>
      <div class="subtasks">
          <!-- Subtareas se agregarán dinámicamente aquí -->
      </div>
      <button id="image-button">
          <img src="kTKorabKc.png" alt="Imagen como botón">
      </button>
  </div>
  <div id="task-container">
    <div class="task-header">
        <input type="checkbox" class="task-checkbox">
        <h1>Título de la Tarea</h1>
    </div>
    <div class="options-container">
        <div class="option high-priority">
            <p class="option-label">Prioridad: Alta</p>
        </div>
        <div class="option expiration">
            <p class="option-label">Vencimiento: 09:00 AM - 10:30 AM</p>
        </div>
        <div class="option duration">
            <p class="option-label">Duración: 1 hora</p>
        </div>
    </div>
    <p class="description">Descripción de la tarea: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button id="add-subtask">Agregar Subtarea</button>
    <div class="subtasks">
        <!-- Subtareas se agregarán dinámicamente aquí -->
    </div>
    <button id="image-button">
        <img src="kTKorabKc.png" alt="Imagen como botón">
    </button>
</div>
<div id="task-container">
  <div class="task-header">
      <input type="checkbox" class="task-checkbox">
      <h1>Título de la Tarea</h1>
  </div>
  <div class="options-container">
      <div class="option high-priority">
          <p class="option-label">Prioridad: Alta</p>
      </div>
      <div class="option expiration">
          <p class="option-label">Vencimiento: 09:00 AM - 10:30 AM</p>
      </div>
      <div class="option duration">
          <p class="option-label">Duración: 1 hora</p>
      </div>
  </div>
  <p class="description">Descripción de la tarea: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <button id="add-subtask">Agregar Subtarea</button>
  <div class="subtasks">
      <!-- Subtareas se agregarán dinámicamente aquí -->
  </div>
  <button id="image-button">
      <img src="kTKorabKc.png" alt="Imagen como botón">
  </button>
</div>

  </div>
</div>
